body {
  margin: 0;
  padding: 0;
}

/*::selection{
    background:rgba(20,255,255,0.4);
    padding: 158px !important;
}
::-moz-selection{
    background:rgba(20,255,255,0.4);
    padding: 158px !important;
}*/
.selectedText {
  /* background: rgba(20, 255, 255, 0.4);
    padding: 7% 20% 2% 20%; */
}
#selectionText {
  display: none;
}
ul.tools {
  padding: 0px;
  display: none;
  list-style: none;
  /* box-shadow: 0px 0px 4px rgba(0,0,0,.5); */
  border: solid 1px #f2f2f2;
  position: absolute;
  background: #fff;
  z-index: 1000000;
  padding: 15px;
  border-radius: 8px;
  padding: 15px;
  border-radius: 8px;
  width: 200px;
}
ul.tools li {
  /* padding: 3px;
	width: 180px;
	margin-right: 10px;
    text-align: right;
    font-size: 13px;
    border-bottom: none;
    cursor: pointer; */
  padding: 7px 15px;
  text-align: end;
  /*display: inline-block;
    width: 10px;
    height: 20px;
    border: solid 1px #000;
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;*/
}
ul.tools li:hover {
  background-color: #75aa7691 !important;
  color: #fff;
}
span.highLightMotion {
  padding: 5px;
  cursor: pointer;
}
div#outline ul {
  margin-right: 14px;
}
#sidebar {
  direction: rtl;
  width: 446px;
  background: #f4f4f4;
  top: 80px;
}
#outline a,
#outline a:visited,
#outline a:hover,
#outline a:active {
  color: #000;
  display: block;
  font-size: 15px;
  border: none;
  text-align: start;
  padding: 8px 5px;
}
#sidebar.opened + #page-container {
  left: 440px;
  height: 90%;
}
a.l:hover {
  background-color: rgb(211 233 241);
}
#page-container {
  top: 75px;
}
#header {
  position: relative;
  height: 60px;
  width: 98%;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
  z-index: 100;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 6px;
  padding: 8px 12px;
  flex-shrink: 0;
  boxing-sizing: unset !important;
}
.sandwishbar {
  width: 23px;
  height: 3px;
  background-color: #ccc;
  margin: 5px 0;
}
#footer {
  position: fixed;
  bottom: 0px;
  height: 40px;
  width: 100%;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 1px;
  z-index: 100;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 6px;
  padding: 8px 10px;
  flex-shrink: 0;
}
.header_img {
  width: 22px;
  /* margin-right: 62px; */
}
#header span {
  /* margin-right: 30px; */

  cursor: pointer;
}
.pf {
  display: none;
}
#optionsSearch {
  text-align: right;
  display: none;
  border: 1px solid #e0e0e0;

  padding: 10px;
  width: 402px;
  background-color: #fff;
  /*height: 330px;*/
  height: 550px;
  position: relative;

  float: right;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px 1px;
  margin-right: 18px;
}

#searchResult::-webkit-scrollbar {
  width: 5px;
  height: 15px;
  border-radius: 8px;
  background-color: transparent;
}
#searchResult::-webkit-scrollbar-thumb {
  background-color: #231d82;
  border-radius: 8px;
}
.optionBox h3 {
  color: #888;
  font-weight: 400;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}
#searchBox {
  text-align: right;
  padding: 5px;
  width: 383px;
  height: 32px;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  margin: 10px 0 20px 0;
  padding-inline-start: 13px;
  direction: rtl;
}
#searchResult {
  padding-top: 25px;
  border-top: 1px solid #ccc;
}
#searchResult h4 {
  color: #151515;
  font-weight: 500;
  font-size: 25px;
  padding-inline-end: 25px;
}
#searchResult ul {
  padding-inline-end: 15px;
}
#searchResult ul li {
  color: #666;
  padding-inline-end: 12px;
  border-radius: 4px;
}
#searchResult ul li:hover {
  background-color: #e7e7e7 !important;
}

.searchRes {
  background-color: rgb(212 195 76 / 30%);
  height: 400px;
  overflow-y: scroll;
}
.highlightItem {
  /* border: 1px solid #c1c1c1; */
  height: 25px;
  width: 25px;
  /* margin: 10px; */
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
.highlightImportant {
  background-color: #ffeb3b;
}
.highlightExam {
  background-color: #2196f3;
}
.highlightOther {
  background-color: #009688;
}
.importantHighlight {
  /* width: 45%; */
  background-color: rgb(212 195 76 / 47%);
  /*padding: 10px;*/
  /* padding: 7% 20% 2% 20%; */
  /* margin-bottom: -8px; */
}
.examHighlight {
  /* width: 45%; */
  background-color: rgb(76 174 212 / 47%);
  /*padding: 10px;*/
  /* padding: 7% 20% 2% 20%; */
  /* margin-bottom: -8px; */
}
.otherHighlight {
  /* width: 45%; */
  background-color: rgb(76 212 119 / 47%);
  /* padding: 7% 20% 2% 20%; */
  /*padding: 10px;*/
  /* margin-bottom: -8px; */
}
#noteBoxHtml {
  direction: rtl;
  display: none;
  border: 1px solid #e0e0e0;
  border-radius: 11px;
  padding: 10px;
  width: 402px;
  background-color: #fff;
  height: 250px;
  position: relative;
  top: 200px;
  float: right;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px 1px;
  margin-right: 18px;
}
#noteBoxHtml textarea {
  width: 90%;
  height: 75px;
  border-radius: 13px;
}
#noteBoxHtml span {
  cursor: pointer;
  margin-right: 10px;
  background: #2424d2;
  padding: 10px 44px 10px 44px;
  border: 1px solid;
  border-radius: 11px;
  width: 100px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  margin-top: 20px;
}
ul.tools li {
  cursor: pointer !important;
}
ul.tools li:hover {
  background-color: #a0a8d8;
}
#searchResult {
  list-style: none;
  height: 75%;
  overflow-y: scroll;
  padding: 3px;
}
#searchResult li {
  list-style: none;
  padding: 5px;
}
#searchResult li:hover {
  background-color: #a7b1d1;
}
#optionsTabs {
  text-align: right;
  padding-top: 35px !important;
  display: none;
  border: 1px solid #e0e0e0;

  padding: 10px;
  width: 580px;
  background-color: #fff;
  /*height: 330px;*/
  height: 550px;
  position: relative;
  top: 0px;
  float: right;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px 1px;
  margin-right: 18px;
}
#optionUrl {
  list-style: none;
  display: inline;
  margin-top: 10px;
}
#optionUrl li {
  list-style: none;
  cursor: pointer;
  display: inline;
  padding: 5px;

  margin: 3px;
  color: #000;
  font-size: 14px;
}
.optionItem {
  display: none;
}
#optionColors {
  text-align: center;
  padding-top: 20px;
}
#optionColors span {
  margin: 2px;
  padding: 5px;
}
/*.pf{
    width: 80%;
}
.w1 {
    width: 100%;
}
.pc {
    width: 100% !important;
}*/

*,
::after,
::before {
  box-sizing: unset !important;
}

/* update yousry */
div.t {
  white-space: pre;
  display: inline-block !important;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 1px;
}

/* Style the slider container (optional) */
#zoomscroll {
  width: 150px; /* Set the width of the slider */
}

/* WebKit browsers (Chrome, Safari, etc.) */
#zoomscroll::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #ccc; /* Track color */
  border-radius: 25px;
  border: 1px solid #ccc;
}

#zoomscroll::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  background: #ff6c00; /* Thumb color */
  border-radius: 50%; /* Make the thumb round */
  cursor: pointer;
  margin-top: -5px; /* Center the thumb over the track */
}

#zoomscroll:focus {
  outline: none; /* Remove focus outline */
}

#zoomscroll::-webkit-slider-runnable-track:hover {
  background: #ccc; /* Track color on hover */
}

/* WebKit browsers (Chrome, Safari, etc.) */
#zoomscroll::-webkit-slider-thumb {
  height: 2px; /* Set the height of the thumb */
  width: 2px; /* Set the width of the thumb */
  background-color: #ffc90054; /* Thumb color */
  border-radius: 50%; /* Make the thumb round (circle) */
  cursor: pointer; /* Change cursor to pointer */
  border: 1px solid #1214cc; /* Add a white border around the thumb */
  box-shadow: 0 0 5px #2530cc; /* Add a subtle shadow */
}

body {
  background-color: #f4f4f4 !important;
}

#marker_pen_controls a {
  color: #000;
  font-weight: 500;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 15px;
  color: #555;
}
#marker_pen_controls a:hover {
  background-color: #75aa76;
  border-color: #75aa76;
  color: #fff !important;
}
div#marker_pen_controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
#optionExams table {
  margin-top: 25px;
}
#optionExams .complete {
  background: #a94040;
  padding: 2px 25px;
  border-radius: 25px;
  color: #fff;
  font-size: 15px;
}
#optionExams .avalibale {
  background: #75aa76;
  padding: 2px 25px;
  border-radius: 25px;
  color: #fff !important;
  font-size: 15px;
}
#page-container {
  background: #fff !important;
}
.pf {
  border: 1px solid #ccc;
  box-shadow: none !important;
}
#pageText {
  border: solid 1px #ccc !important;
  border-radius: 3px !important;
  padding: 4px;
  width: 28px !important;
  text-align: center;
  margin-right: 5px;
}
#outline {
  font-family: "cairo", sans-serif !important;
}
#noteBoxHtml {
  direction: rtl;
  display: none;
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 25px;
  width: 350px;
  background-color: #fff;
  height: auto;
  position: relative;
  top: 20px;
  right: 27px;
  float: right;
  box-shadow: none !important;
  margin-right: 18px;
  /* display: flex !important; */
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  text-align: start;
  z-index: 99999999999;
}
#noteBoxHtml h1 {
  font-size: 20px;
  font-weight: 500;
  color: #333;
  margin-bottom: 25px;
}
#noteBoxHtml textarea {
  width: 100%;
  height: 75px;
  border-radius: 13px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
#noteBoxHtml span {
  cursor: pointer;
  margin-right: 0;
  background: #23c283;
  padding: 6px 10px;
  border: 1px solid;
  border-radius: 11px;
  width: 100px;
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  margin-top: 25px;
  display: block;
}
::-webkit-scrollbar-thumb {
  background-color: #75aa76;
  border-radius: 0px;
  height: 4px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: transparent;
}
.tools .highlightItems {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  margin: 0;
}
.tools .highlightItems:hover {
  background-color: transparent !important;
}
.highlightItem:hover {
  box-shadow: 0 8px 8px 0 #7e7e7e;
}
.hidden {
  display: none !important;
}
#optionsTabs {
  overflow: scroll;
}
.question {
  padding: 20px 8px;
  border-bottom: 1px solid #ccc;
}
.question h1 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #111;
}
.q_a {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
  color: #666;
  font-size: 17px;
  margin-bottom: 10px;
}

#optionsTabs input[type="radio"] {
  /* Remove default radio button */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* Custom styles */
  width: 15px;
  height: 15px;
  border-radius: 50%; /* Makes it circular */
  border: 2px solid #ccc;
  background-color: white;
  cursor: pointer;
  transition: background 0.3s ease, border-color 0.3s ease;
}

/* Styling for when the radio button is checked */
#optionsTabs input[type="radio"]:checked {
  background-color: #75aa76;
  border-color: #75aa76;
}

/* Optional: Adding a dot when checked */
#optionsTabs input[type="radio"]:checked::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  top: 2px;
  left: 2px;
}
#optionsTabs #submitExam {
  border-radius: 8px;
  border: none;
  width: 100px;
  padding: 10px;
  background: #75aa76;
  color: #fff;
}
#examResult {
  float: left !important;
  text-align: center !important;
  font-size: 15px !important;
  background: #75aa76 !important;
  height: auto !important;
  width: 200px !important;
  line-height: normal !important;
  color: rgb(255, 255, 255) !important;
  padding: 4px 0 !important;
  border-radius: 4px !important;
}
.q_a.correct-answer {
  background: #75aa76 !important;
  border-radius: 2px !important;
  color: #fff !important;
  padding: 4px !important;
  position: relative;
}
.correct-answer::before {
  content: "\2714"; /* Unicode for the checkmark symbol */
  position: absolute;
  left: 8px; /* Position at the left side */
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px; /* Adjust size of the checkmark */
  color: white; /* Color of the checkmark */
}
.correct-answer::before {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: white;
  font-weight: 900; /* Necessary for FontAwesome solid icons */
}

.video-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column-reverse;
  width: 100%;
  text-align: right;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
@media print {
  body {
    display: none;
  }
}
/* .t.readerLine.m1,
.t.readerLine.m5,
.t.readerLine.m6,
.t.readerLine.m4,
.t.readerLine.m3,
.t.readerLine.m7,
.t.readerLine.m9,.t.readerLine.mb,.t.readerLine.mc,.t.readerLine.md,.t.readerLine.me {
  display: none !important;
}
#pf1 div.readerLine.t{
  display: none !important;
} */

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 10000;
  opacity: 1;
  visibility: visible;
  transition: all 0.25s;
}
.loader.faded {
  opacity: 0;
  visibility: hidden;
}
.spinner_wrapper {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-default div {
  position: absolute;
  width: 7px;
  height: 7px;
  background: #336057;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}
.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}
.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}
.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}
.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}
.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}
.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}
.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}
.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}
.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}
.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}
.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}
@keyframes lds-default {
  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
.search_div{
  background: #75aa76;
    padding: 4px;
    border-radius: 50%;
}
.search_div img{
  filter: invert(1);
}

#speakButton{
  background: transparent;
  border: 0;
  outline: none;
  width: 100%;
  padding: 7px 15px;
  cursor: pointer;
}
#optionsSearch img,#optionsTabs img,#noteBoxHtml img{
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
}